.card-custom {
    height: auto;
    width: auto;
    margin: auto;
    align-items: center;
}
.card-img{
    height: 250px;
    width: 200px;
}
.card-footer {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 10px;
    height: auto;
}

.btn-custom {
    padding: 8px;
    font-size: 0.9rem;
    border-radius: 5px;
}
