/* Definir colores principales */
:root {
    --main-bg-color: #F0F0F0;
    --text-color: #000000;
    --contrast-color: #003100;
    --header-bg-color-start: #0b1061;
    --header-bg-color-middle: #101e7c;
    --header-bg-color-end: #04106c;
}

/* Estilo para el body */
body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, a {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Botones */
button {
    background-color: transparent;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003BB5;
}

/* Contenedores */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: var(--main-bg-color);
    background-attachment: fixed;
}

/* Formularios */
input, textarea {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}

input:focus, textarea:focus {
    border-color: var(--contrast-color);
    outline: none;
}

/* Estilos para los encabezados */
h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 3rem;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
}

h3, h4, p {
    font-family: Arial, sans-serif;
    font-weight: 400;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}
